.project-details {
    margin-inline: 1rem;
}

.project-details p {
    text-align: justify;
}

.project-main-img {
    max-height: 60vh;
    max-width: 90%;
    width: auto;
    object-fit: contain;
    margin-inline: 1rem;
    margin-block-start: 7%;
    border-radius: 20px;
}

.project-details h1 {
    position: relative;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0;
    margin-block-start: 2rem;
    font-family: Montserrat-Medium;
}

.project-details h2 {
    font-family: Montserrat-Thin;
    margin: 0;
    margin-block: 0.5rem;
}

.project-details p {
    font-family: Montserrat-Thin;
    font-size: 0.9rem;
}

.project-details .gallery {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-block-start: 3rem;
}

.project-details .gallery-item-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-items: start;
}

.project-details .gallery img {
    max-width: 300px;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

.project-details a {
    position: relative;
    overflow: hidden;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    width: 3rem;
    height: 3rem;
    
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-inline-end: 1rem;
    line-height: 1;
}

.project-details a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    top: 0;
    left: 0;
}

.project-details a:hover::before {
    transform: scale(1);
}

.project-details a img {
    max-width: 3rem;
    max-height: 3rem;
    object-fit: contain;
    padding: 0.5rem;
}

.project-details a img:hover {
    cursor: pointer;
    filter: saturate(0) brightness(1000%);
}

@media (max-width: 650px) {
    .project-details .gallery-item-imgs {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}
