:root {
    --main-dark: #156157;
    /* --dark: #5588a7;
    --very-dark: #3a576b; */

    --main-light: #a6eeed;
    /* --light: #092925; */
    /* --very-light: #c6d1d3; */

    --dark-gray1: #2e2e2e;
    --dark-gray2: #3c3c3c;
    --dark-gray3: #505050;
    --dark-gray4: #727272;

    --light-gray1: #eaeaea;
    --light-gray2: #dadada;
    --light-gray3: #c3c3c3;
    --light-gray4: #adadad;
}